name: Deploy Discord Bot

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python (adjust version if needed)
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: '${{ secrets.VPS_HOST }}'
          username: '${{ secrets.VPS_USERNAME }}'
          script: |
            cd <your_bot_directory_name>  # Replace with your bot's directory on the VPS
            source .env  # Load environment variables from your .env file
            nohup python bot.py &  # Run the bot in the background
